WcfFirstTimer/TestWcfConsole/Service References/PersonWcfService/PersonWcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webservicedemo.datamatiker-skolen.dk/PersonWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServicePostPerson" />
  <xs:element name="GetAllePersoner">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllePersonerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebServicePostPerson" minOccurs="0" name="GetAllePersonerResult" nillable="true" type="q1:ArrayOfPersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllePersonerMedNavn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fornavn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="efternavn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderEfternavnFornavn" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllePersonerMedNavnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebServicePostPerson" minOccurs="0" name="GetAllePersonerMedNavnResult" nillable="true" type="q2:ArrayOfPersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllePersonerMedPostnr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fraPostnr" type="xs:int" />
        <xs:element minOccurs="0" name="tilPostnr" type="xs:int" />
        <xs:element minOccurs="0" name="orderEfternavnFornavn" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllePersonerMedPostnrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebServicePostPerson" minOccurs="0" name="GetAllePersonerMedPostnrResult" nillable="true" type="q3:ArrayOfPersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonMedPersonnr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personnr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonMedPersonnrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebServicePostPerson" minOccurs="0" name="GetPersonMedPersonnrResult" nillable="true" type="q4:PersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetPersonData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebServicePostPerson" minOccurs="0" name="person" nillable="true" type="q5:PersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetPersonDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetPersonDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>