WcfFirstTimer/TestWcfConsole/Service References/PersonWcfService/PersonWcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webservicedemo.datamatiker-skolen.dk/PersonWcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webservicedemo.datamatiker-skolen.dk/PersonWcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webservicedemo.datamatiker-skolen.dk/PersonWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServicePostPerson" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonWcfService_GetAllePersoner_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllePersoner" />
  </wsdl:message>
  <wsdl:message name="IPersonWcfService_GetAllePersoner_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllePersonerResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonWcfService_GetAllePersonerMedNavn_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllePersonerMedNavn" />
  </wsdl:message>
  <wsdl:message name="IPersonWcfService_GetAllePersonerMedNavn_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllePersonerMedNavnResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonWcfService_GetAllePersonerMedPostnr_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllePersonerMedPostnr" />
  </wsdl:message>
  <wsdl:message name="IPersonWcfService_GetAllePersonerMedPostnr_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllePersonerMedPostnrResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonWcfService_GetPersonMedPersonnr_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonMedPersonnr" />
  </wsdl:message>
  <wsdl:message name="IPersonWcfService_GetPersonMedPersonnr_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonMedPersonnrResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonWcfService_RetPersonData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetPersonData" />
  </wsdl:message>
  <wsdl:message name="IPersonWcfService_RetPersonData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetPersonDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonWcfService">
    <wsdl:operation name="GetAllePersoner">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonWcfService/GetAllePersoner" message="tns:IPersonWcfService_GetAllePersoner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonWcfService/GetAllePersonerResponse" message="tns:IPersonWcfService_GetAllePersoner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllePersonerMedNavn">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonWcfService/GetAllePersonerMedNavn" message="tns:IPersonWcfService_GetAllePersonerMedNavn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonWcfService/GetAllePersonerMedNavnResponse" message="tns:IPersonWcfService_GetAllePersonerMedNavn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllePersonerMedPostnr">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonWcfService/GetAllePersonerMedPostnr" message="tns:IPersonWcfService_GetAllePersonerMedPostnr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonWcfService/GetAllePersonerMedPostnrResponse" message="tns:IPersonWcfService_GetAllePersonerMedPostnr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonMedPersonnr">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonWcfService/GetPersonMedPersonnr" message="tns:IPersonWcfService_GetPersonMedPersonnr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonWcfService/GetPersonMedPersonnrResponse" message="tns:IPersonWcfService_GetPersonMedPersonnr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetPersonData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonWcfService/RetPersonData" message="tns:IPersonWcfService_RetPersonData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonWcfService/RetPersonDataResponse" message="tns:IPersonWcfService_RetPersonData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonWcfService" type="tns:IPersonWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllePersoner">
      <soap:operation soapAction="http://tempuri.org/IPersonWcfService/GetAllePersoner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllePersonerMedNavn">
      <soap:operation soapAction="http://tempuri.org/IPersonWcfService/GetAllePersonerMedNavn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllePersonerMedPostnr">
      <soap:operation soapAction="http://tempuri.org/IPersonWcfService/GetAllePersonerMedPostnr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonMedPersonnr">
      <soap:operation soapAction="http://tempuri.org/IPersonWcfService/GetPersonMedPersonnr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetPersonData">
      <soap:operation soapAction="http://tempuri.org/IPersonWcfService/RetPersonData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonWcfService">
    <wsdl:port name="BasicHttpBinding_IPersonWcfService" binding="tns:BasicHttpBinding_IPersonWcfService">
      <soap:address location="http://webservicedemo.datamatiker-skolen.dk/PersonWcfService.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>