WcfFirstTimer/TestWcfConsole/Service References/PersonWcfService/PersonWcfService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServicePostPerson" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServicePostPerson" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersonDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonDTO" nillable="true" type="tns:PersonDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonDTO" nillable="true" type="tns:ArrayOfPersonDTO" />
  <xs:complexType name="PersonDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrikt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Efternavn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fornavn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Personnr" type="xs:int" />
      <xs:element minOccurs="0" name="Postnr" type="xs:int" />
      <xs:element minOccurs="0" name="Tlfnr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDTO" nillable="true" type="tns:PersonDTO" />
</xs:schema>