valuta01/ValutaConsole/Service References/ValutaWcfService/ValutaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ValutaWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ValutaWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfValuta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Valuta" nillable="true" type="tns:Valuta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValuta" nillable="true" type="tns:ArrayOfValuta" />
  <xs:complexType name="Valuta">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExchangeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="Iso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Valuta" nillable="true" type="tns:Valuta" />
</xs:schema>