valuta01/ValutaConsole/Service References/ValutaWcfService/ValutaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1065/ValutaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ValutaWcfService" />
  <xs:import schemaLocation="http://localhost:1065/ValutaService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="FromDkkToEur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dkkAmount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FromDkkToEurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromDkkToEurResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExchangeRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExchangeRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExchangeRateResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValutas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValutasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ValutaWcfService" minOccurs="0" name="GetValutasResult" nillable="true" type="q1:ArrayOfValuta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertFromIsoToIso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertFromIsoToIsoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertFromIsoToIsoResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoneConversions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoneConversionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDoneConversionsResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetValutaExchangeRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ValutaWcfService" minOccurs="0" name="valuta" nillable="true" type="q3:Valuta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetValutaExchangeRateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddValuta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ValutaWcfService" minOccurs="0" name="valuta" nillable="true" type="q4:Valuta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddValutaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>