valuta01/ValutaGUI/Service References/ValutaWcfService/ValutaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ValutaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1065/ValutaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1065/ValutaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1065/ValutaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ValutaWcfService" />
      <xsd:import schemaLocation="http://localhost:1065/ValutaService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IValutaService_FromDkkToEur_InputMessage">
    <wsdl:part name="parameters" element="tns:FromDkkToEur" />
  </wsdl:message>
  <wsdl:message name="IValutaService_FromDkkToEur_OutputMessage">
    <wsdl:part name="parameters" element="tns:FromDkkToEurResponse" />
  </wsdl:message>
  <wsdl:message name="IValutaService_GetExchangeRate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExchangeRate" />
  </wsdl:message>
  <wsdl:message name="IValutaService_GetExchangeRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExchangeRateResponse" />
  </wsdl:message>
  <wsdl:message name="IValutaService_GetValutas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValutas" />
  </wsdl:message>
  <wsdl:message name="IValutaService_GetValutas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValutasResponse" />
  </wsdl:message>
  <wsdl:message name="IValutaService_ConvertFromIsoToIso_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertFromIsoToIso" />
  </wsdl:message>
  <wsdl:message name="IValutaService_ConvertFromIsoToIso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertFromIsoToIsoResponse" />
  </wsdl:message>
  <wsdl:message name="IValutaService_GetDoneConversions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDoneConversions" />
  </wsdl:message>
  <wsdl:message name="IValutaService_GetDoneConversions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDoneConversionsResponse" />
  </wsdl:message>
  <wsdl:message name="IValutaService_SetValutaExchangeRate_InputMessage">
    <wsdl:part name="parameters" element="tns:SetValutaExchangeRate" />
  </wsdl:message>
  <wsdl:message name="IValutaService_SetValutaExchangeRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetValutaExchangeRateResponse" />
  </wsdl:message>
  <wsdl:message name="IValutaService_AddValuta_InputMessage">
    <wsdl:part name="parameters" element="tns:AddValuta" />
  </wsdl:message>
  <wsdl:message name="IValutaService_AddValuta_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddValutaResponse" />
  </wsdl:message>
  <wsdl:portType name="IValutaService">
    <wsdl:operation name="FromDkkToEur">
      <wsdl:input wsaw:Action="http://tempuri.org/IValutaService/FromDkkToEur" message="tns:IValutaService_FromDkkToEur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValutaService/FromDkkToEurResponse" message="tns:IValutaService_FromDkkToEur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExchangeRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IValutaService/GetExchangeRate" message="tns:IValutaService_GetExchangeRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValutaService/GetExchangeRateResponse" message="tns:IValutaService_GetExchangeRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValutas">
      <wsdl:input wsaw:Action="http://tempuri.org/IValutaService/GetValutas" message="tns:IValutaService_GetValutas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValutaService/GetValutasResponse" message="tns:IValutaService_GetValutas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertFromIsoToIso">
      <wsdl:input wsaw:Action="http://tempuri.org/IValutaService/ConvertFromIsoToIso" message="tns:IValutaService_ConvertFromIsoToIso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValutaService/ConvertFromIsoToIsoResponse" message="tns:IValutaService_ConvertFromIsoToIso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDoneConversions">
      <wsdl:input wsaw:Action="http://tempuri.org/IValutaService/GetDoneConversions" message="tns:IValutaService_GetDoneConversions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValutaService/GetDoneConversionsResponse" message="tns:IValutaService_GetDoneConversions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetValutaExchangeRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IValutaService/SetValutaExchangeRate" message="tns:IValutaService_SetValutaExchangeRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValutaService/SetValutaExchangeRateResponse" message="tns:IValutaService_SetValutaExchangeRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddValuta">
      <wsdl:input wsaw:Action="http://tempuri.org/IValutaService/AddValuta" message="tns:IValutaService_AddValuta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValutaService/AddValutaResponse" message="tns:IValutaService_AddValuta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IValutaService" type="tns:IValutaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FromDkkToEur">
      <soap:operation soapAction="http://tempuri.org/IValutaService/FromDkkToEur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExchangeRate">
      <soap:operation soapAction="http://tempuri.org/IValutaService/GetExchangeRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValutas">
      <soap:operation soapAction="http://tempuri.org/IValutaService/GetValutas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertFromIsoToIso">
      <soap:operation soapAction="http://tempuri.org/IValutaService/ConvertFromIsoToIso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoneConversions">
      <soap:operation soapAction="http://tempuri.org/IValutaService/GetDoneConversions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetValutaExchangeRate">
      <soap:operation soapAction="http://tempuri.org/IValutaService/SetValutaExchangeRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddValuta">
      <soap:operation soapAction="http://tempuri.org/IValutaService/AddValuta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValutaService">
    <wsdl:port name="BasicHttpBinding_IValutaService" binding="tns:BasicHttpBinding_IValutaService">
      <soap:address location="http://localhost:1065/ValutaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>